{% extends "base.html" %}
{% block content %}


<h1>INDEX PAGE</h1>
<hr><hr>
{% if request.user.is_authenticated %}
  <p>Hello, {{user.username}}</p>
  <hr><hr>

  <a href="{% url "accounts:update" %}">[UPDATE]</a>
  <hr><hr>

  <form action="{% url "accounts:delete" %}"method='POST'>
    {% csrf_token %}
    <input type="submit" value='계정삭제'>
  </form>
  <hr><hr>

  <form action="{% url "accounts:logout" %}"method='POST'>
    {% csrf_token %}
    <input type="submit" value='로그아웃'>
  </form>
  <hr><hr>

  <a href="{% url "pokemon:create" %}">[축하합니다. 새로운 포켓몬을 포획하셨습니다.]</a>
  <hr><hr>

  {% for pokemon in pokemons %}
  <p>포획한 순서 : {{pokemon.pk}}</p>
  <p>포켓몬 이름 : {{pokemon.name}}</p>
  <a href="{% url "pokemon:detail" pokemon.pk%}">[More Info]</a>
  <hr><hr>

  {% endfor %}

{% else %}
  <a href="{% url "accounts:signup" %}">[SIGNUP]</a>
  <hr><hr>
  <a href="{% url "accounts:login" %}">[LOGIN]</a>
  <hr><hr>
{% endif %}


{% endblock content %}