{% extends "base.html" %}
{% block content %}
<h1>INDEX PAGE</h1>
<hr><hr>
{% if request.user.is_authenticated %}
<h3>Hello {{user.username}}</h3>
<hr>
<hr>
<form action="{% url "accounts:delete" %}"method='POST'>
  {% csrf_token %}
  <input type="submit" value='트레이너 활동을 그만두시겠습니까?'>
</form>
<hr><hr>
<form action="{% url "accounts:logout" %}"method='POST'>
  {% csrf_token %}
  <input type="submit" value='잠시 활동을 멈추시겠습니까?'>
</form>
<a href="{% url "accounts:update" %}">[트레이너 정보를 수정하시겠습니까?]</a>
<hr><hr>
<a href="{% url "pokemon:create" %}">[축하합니다. 새로운 포켓몬을 포획하셨습니다.]</a>
<hr><hr>
  {% for pokemon in pokemons %}
  <p>포획한 순서 : {{pokemon.pk}}</p>
  <p>포켓몬 이름 : {{pokemon.name}}</p>
  <a href="{% url "pokemon:detail" pokemon.pk%}">[More Info]</a>
  <hr><hr>
  {% endfor %}
{% else %}
<a href="{% url "accounts:signup" %}">[새로운 트레이너를 등록합니다.]</a>
<hr><hr>
<a href="{% url "accounts:login" %}">[트레이너 정보를 입력해 주세요.]</a>
<hr><hr>
{% endif %}
{% endblock content %}