{% extends "base.html" %}
{% block content %}
<h1>DETAIL PAGE</h1>
<hr><hr>
<p>포획한 순서 : {{pokemon.pk}}</p>
<p>포켓몬 이름 : {{pokemon.name}}</p>
<p>포켓몬 설명 : {{pokemon.content}}</p>
<p>포획한 시기 : {{pokemon.date}}</p>
<hr><hr>
<a href="{% url "pokemon:update" pokemon.pk%}">[UPDATE]</a>
</form>
<hr><hr>
<form action="{% url "pokemon:delete" pokemon.pk%}"method='POST'>
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value='포켓몬을 야생으로 보내주겠습니까?'>
</form>
<hr><hr>
<a href="{% url "pokemon:index" %}">[Go to the INDEX PAGE]</a>
<hr><hr>
<p>댓글</p>
<ul>
  {% for comment in comments %}
   <li>
    {{comment.content}}
    <form action="{% url "pokemon:comments_delete" pokemon.pk comment.pk%}"method='POST'>
      {% csrf_token %}
      <input type="submit" value='댓글 삭제'>
    </form>
   </li>
  {% empty %}
   <p>댓글이 없습니다.</p>
  {% endfor %}
</ul>
<hr><hr>
<form action="{% url "pokemon:comments_create" pokemon.pk %}"method='POST'>
  {% csrf_token %}
  {{comment_form}}
  <input type="submit" value='댓글 작성'>
</form>
{% endblock content %}